/* Defauld start */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy Regular', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('/images/background/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.container {
    width: 1110px;
    margin: 0 auto;
}

.content {
    width: 760px;
    margin: 0 auto;
}

/* .hidden-nav {
    display: none;
}

.line-one {
    d
    border-bottom: 4px solid rgb(223, 33, 33);
    width: 34px;
}

.line-two {
    border-bottom: 4px solid rgb(206, 37, 37);
    width: 20px;
} */

/* Defauld end */

/* Header start */

.header {
    padding-top: 24px;
}

.header__wrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


.nav {
    display: flex;
}

.nav__link {
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav__link-right {
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.nav-right__search-icon {
    height: 24px;
    margin-right: 14px;
}

.icon-acc {
    margin-right: 25px;
}

.icon {
    width: 24px;
    height: 24px;

}

.icon-like {
    width: 18px;
    height: 18px;
}

/* Header end */

/* Intro start */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
} 

.intro__content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.intro__title {
    margin-bottom: 50px;
    font-family: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}

.intro-button {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.intro-btn {
    padding: 14px 36px;
    color: #fff;
    background-color:#333333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.intro-border {
    border-top: 1px solid #fff;
}

.intro-brand-items {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    

}

.brand:not(:last-child) {

    padding-right: 15px;
    border-right: 1px solid #fff;

}

/* Intro end */

/* Catalog start */

.catalog {
    display: flex;
}

.catalog__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__header p {
    margin: 0;
    padding-top: 96px;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
}

.catalog__header h2 {
    padding-top: 14px;
    padding-bottom: 60px;
    font-family: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
}

.catalog__menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.catalog__menu-item {
    min-width: 162px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.catalog__menu-item:hover {
    background-color: #333333;
    color: #fff;
}

.catalog__menu a {
    font-weight: 500;
    font-style: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #333333;
    border: 1px solid #333333;
}

.catalog__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 132px;

}

.catalog__block__rings {
    position: relative;
    margin-bottom: 24px;
}

.ring-text {
    top: 80%;
    left: 35%;
    position: absolute;
}

.catalog__block__earrings {
    position: relative;
}

.earring-text {
    top: 74%;
    left: 35%;
    position: absolute;
}

.catalog__block__pendants {
    position: relative;
}

.pendant-text {
    top: 74%;
    left: 30%;
    position: absolute;
}

.catalog__block__cufflinks {
    position: relative;
}

.cufflink-text {
    top: 80%;
    left: 33%;
    position: absolute;
}

.catalog__block__braslets {
    position: relative;
}

.braslet-text {
    top: 80%;
    left: 30%;
    position: absolute;
}

.catalog__block__clocks {
    position: relative;
}

.clock-text {
    top: 80%;
    left: 40%;
    position: absolute;
}

.catalog__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

/* Catalog end */

/* Salons start */

.salons {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(/images/background/background-second.png);
    background-size: cover;
    color: #fff;
}

.salons__header p {
    margin: 0;
    padding-top: 100px;
    font-weight: 400;
    font-size: 20px;
}

.salons__header h2 {
    padding-top: 14px;
    padding-bottom: 46px;
    font-family: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 30px;
}

.salons__description {
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
}

.salons__btn {
    padding-bottom: 100px;
}

.salons__btn button {
    padding: 14px 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

/* Salons end */

/* Present start */

.present__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present__header p {
    margin: 0;
    padding-top: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.present__header h2 {
    padding-top: 14px;
    padding-bottom: 60px;
    font-style: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
}

.present__catalog {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.present-wife {
    position: relative;
}

.present-hasband {
    position: relative;
}

.present-weeding {
    position: relative;
}
.present-text {
    top: 62%;
    left: 33%;
    position: absolute;
    font-weight: 400;
    font-style: 20px;
    line-height: 30px;
    text-align: center;
}

.present_button {
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.present-btn {
    padding: 14px 36px;
    color: #fff;
    background-color:#333333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
/* Present end */

/* Social start */

.social__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__header p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.social__header h2 {
    padding-top: 14px;
    padding-bottom: 60px;
    font-style: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
}

.social__catalog {
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;  
}

/* Social end */

/* Mailing-list start */

.mailing {
    background: url(/images/background/background-second.png);
    background-size: cover;
    color: #fff;
}

.mailing__header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mailing__header p{
    margin: 0;
    padding-top: 94px;
    font-weight: 400;
    font-size: 20px;
}

.mailing__header h2{
    padding-top: 14px;
    padding-bottom: 60px;
    font-family: 'Noto Serif',serif;
    font-weight: 700;
    font-size: 30px;
}

.mailing-list ul {
    list-style-image: url(/images/icons/subscribe__icon.png);
}

.mailing-list li {
    margin-top: 14px;
    padding-left: 20px;
}

.mailing-block {
    margin-left: 156px;
    padding-bottom: 126px;
    display: flex;
    align-items: center;   
}

.mailing-form {
    border: 1px solid #fff;
    margin-left: 50px;
}

.mailing-form__inner {
    background-color: #fff;
    margin: 14px;
    padding: 20px 22px;
}

.mailing-form__inner button{
    margin-left: 16px;
    padding: 14px 36px;
    color: #fff;
    background-color:#333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.mailing-form__inner input {
    border: 1px solid #D6D6D6;
}

#email {
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
}



/* Mailing-list end */

/* Footer start */
.footer {
    padding-top: 74px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
}

.footer-links {
    width: 25%;
    padding-right: 30px;
}

.footer__header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
}

.footer-links__list ul li {
    padding-inline-start: 0px;
    padding-top: 15px;
    
}

.footer-links__list ul {
    padding-inline-start: 0px;
}

.footer-links__list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.footer-paymant {
    width: 25%;
    padding-right: 30px;
}

.footer-paymant__description {
    padding-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}


.footer-paymant__description p {
    margin: 0;
}

.footer-paymant__icon {
    padding-top: 20px;
}

.visacard {
    padding-right: 20px;
}

.footer-contacts {
    width: 25%;
    padding-right: 30px;
}

.phone {
    padding-top: 30px;
}

.phone a {
    padding-left: 20px;
    color: #333333;
}

.tel {
    padding-top: 15px;
}

.tel a {
    padding-left: 20px;
    color: #333333;
}

.mail {
    padding-top: 15px;
}

.mail a {
    padding-left: 20px;
    color: #333333;
}

.footer-social {
    width: 25%;
}

.footer-social__icon {
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social__icon img:not(last-child) {
    padding-right: 20px;
}

.footer__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.default-link {
    text-decoration: underline;
}
/* Footer end */

/* Adaptive start */
@media (max-width: 1050px) {
    .container {
        padding: 0 24px;
        width: 100%;
    }
    .header__wrapper {
        padding-top: 30px;
    }
    .nav, 
    .nav-right {
        display: none;
    }
    .intro__title {
        text-align: center;
    }
    .intro-brand-items {
        padding: 20px;
    }
    .brand:not(:first-child):not(:last-child) {
        display: none;
    }
    .catalog__header {
        text-align: center;
    }
    .catalog__header 
    p,
    h2 {
        padding-top: 46px;
    }

    .catalog__menu {
        padding-bottom: 24px;
        flex-wrap: wrap;
    }
    .catalog__menu-item {
        margin-bottom: 48px;
    }
    .catalog__block {
        padding-bottom: 46px;
    }
    .catalog__block__rings {
        margin: 0;
    }
    .salons {
        padding: 20px;
    }
    .salons__header p {
        padding-top: 46px;
    }
    .salons__btn {
        padding-bottom: 46px;
    }
    .content {
        width: 100%;
    }
    .present__header {
        text-align: center;
    }
    .present__header p {
        padding-top: 46px;
    }
    .present__catalog {
        flex-wrap: wrap;
        justify-content: center;
    }
    .present_button {
        padding-bottom: 46px;
    }
    .social__header h2 {
        padding-bottom: 46px;
    }
    .social__catalog {
        padding-bottom: 46px;
        justify-content: center;
    }
    .social__catalog-item img {
        max-width: 100%;
        min-height: 250px;
    }
    .social__catalog-item 
    .catalog__video {
        padding: 0 32px;
    }
    .mailing {
        padding: 20px;
    }
    .mailing__header p {
        padding-top: 46px;
    }
    .mailing__header h2 {
        padding-bottom: 20px;
    }
    .mailing-block {
        padding-bottom: 36px;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .mailing__list {
        padding-bottom: 20px;
    }
    .mailing-block .mailing-form {
        margin: 0;
        text-align: center;
    }
    .mailing-form__inner button {
        margin: 20px 0 0 0 ;
    }
    .footer {
        padding-top: 20px;
        flex-direction: column;
    }
    .footer > div {
        padding: 0;
        width: 100%; 
    }
    .footer__header {
        padding: 20px 0;
    }
    .footer-paymant__description br {
        display: none;
    }
    .footer-social__icon {
        padding: 18px 0;
        justify-content: flex-start;
    }
    .footer__copyright {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .footer__copyright a {
        padding-bottom: 5px;
    }
    
}


/* Adaptive end */
